{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}Password
Reset Form{% endblock %} {% block content %}

<div class="content-section">
  <h2>Reset Your Password</h2>
  <p>Forgot your password?</p>
  <div class="alert alert-info" role="alert">
    <strong>Info!</strong> We will send you an email with instructions on how to
    reset your password.
  </div>
  <form method="post">
    {% csrf_token %} {{ form|crispy }}
    <br />
    <button class="btn btn-primary" type="submit">Reset Password</button>
  </form>

  <br>
</div>

{% endblock content %}
