{% extends "base.html" %} {% block title %}Password Reset Email{% endblock %} {%block content %}

<h2>Password Reset Email</h2>
<p>
  You're receiving this email because you requested a password reset for your
  user account at <a href="{{ site_url }}">{{ site_name }}</a>.
</p>

<p>Please go to the following page and choose a new password:</p>

<p>
  <a
    href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
    >Reset my password</a
  >
</p>

<p>Your username, in case you've forgotten: {{ user.get_username }}</p>

<p>Thanks for using our site!</p>

<p>The {{ site_name }} team</p>

{% endblock %}
